@using OA.Domin.DSA
@using OA.Domin.Settings


<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="Event.Name" For="@(() => Event.Name)" Id="Name" EntityType="typeof(Event)" PropName="Name" Active="@Active" />
    </div>
    <div class="col-sm-6 select-col">
        <MInputSelect @bind-Value="Event.EventCategoryId" For="@(() => Event.EventCategoryId)" Items="EventCategoryItems" Id="EventCategoryId" EntityType="typeof(Event)" PropName="EventCategoryId" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <MInputDate Type="date" @bind-Value="Event.StartDate" For="@(() => Event.StartDate)" Id="StartDate" EntityType="typeof(Event)" PropName="StartDate"/>
    </div>
    <div class="col-sm-6">
        <MInputDate Type="date" @bind-Value="Event.EndDate" For="@(() => Event.EndDate)" Id="EndDate" EntityType="typeof(Event)" PropName="EndDate"  />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <MInputNumber @bind-Value="Event.Order" For="@(() => Event.Order)" Id="Order" EntityType="typeof(Event)" PropName="Order" />
    </div>
    <div class="col-sm-2 offset-1 select-col">
        <CheckBoxBtn Checked="Event.IsActive" Text="Active" OnChange="@((bool value) => Event.IsActive = value)" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <UploadFile @ref="FileUploadControl"
                    Label="File"
                    Types='FileSettings.MimeTypes["HTML"]'
                    ImagePreview="false"
                    ShowUploaded="true"
                    MaxSize="1024 * 1024 * 1"
                    OnValidUpload="@(() => Event.File = FileUploadControl.Files[0] )"
                    OnStartPreUpload="@(() => UploadBusy = true)"
                    OnEndPreUpload="@(() => UploadBusy = false)" />
        @if (IsEdit)
        {
            <div>
                @Event.FilePath
            </div>
        }
    </div>
    <div class="col-sm-6">
        <UploadFile @ref="ImageUploadControl"
                    Label="Image"
                    Types='FileSettings.MimeTypes["Image"]'
                    ImagePreview="true"
                    ShowUploaded="false"
                    MaxSize="1024 * 1024 * 1"
                    OnValidUpload="@(() => Event.Image = ImageUploadControl.Files[0] )"
                    OnStartPreUpload="@(() => UploadBusy = true)"
                    OnEndPreUpload="@(() => UploadBusy = false)" />
        @if (IsEdit)
        {
            <div>
                @Event.ImagePath
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="M-center">
            @if (UploadBusy)
            {
                <MiniLoading />
            }
        </div>
    </div>
</div>
