@using OA.Domin.DSA
@using OA.Domin.Settings

@if (!IsEdit) { 
    <div class="form-group row">
        <div class="col-sm-6 select-col">
            <MInputSelect @bind-Value="@Type" For="@(() => Type)" Items="DonatorTypeItems" Id="DonatorType" Label="Donator Type" ValueSelectedEvent="DonatorTypeSelected" />
        </div>
    </div>
}


<div class="form-group row">
    <div class="col-sm-6 select-col">
        @if(IsPerson)
        {
            <div>
                <MInputSelect @bind-Value="Donation.PersonDonatorId" For="@(() => Donation.PersonDonatorId)" Items="PersonDonatorItems" Id="PersonDonatorId" EntityType="typeof(Donation)" PropName="PersonDonatorId" ValueSelectedEvent="DonatorSelected" />
            </div>
        }
        @if(IsCorp) 
        { 
            <div>
                <MInputSelect @bind-Value="Donation.CorporateDonatorId" For="@(() => Donation.CorporateDonatorId)" Items="CorporateDonatorItem" Id="CorporateDonatorId" EntityType="typeof(Donation)" PropName="CorporateDonatorId" ValueSelectedEvent="DonatorSelected" />
            </div>
        }        
    </div>
    <div class="col-sm-6 select-col">
        <MInputSelect @bind-Value="Donation.BeneficiaryId" For="@(() => Donation.BeneficiaryId)" Items="BeneficaryItems" Id="BeneficiaryId" EntityType="typeof(Donation)" PropName="BeneficiaryId" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <MInputDecimal @bind-Value="Donation.Amount" For="@(() => Donation.Amount)" Id="Amount" EntityType="typeof(Donation)" PropName="Amount" />
    </div>
    <div class="col-sm-6">
        <MInputText @bind-Value="Donation.PayBill" For="@(() => Donation.PayBill)" Id="PayBill" EntityType="typeof(Donation)" PropName="PayBill" Active="@Active" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <MInputDate Type="date" @bind-Value="Donation.Date" For="@(() => Donation.Date)" Id="Date" EntityType="typeof(Donation)" PropName="Date" />
    </div>
    <div class="col-sm-6">
        <MInputText @bind-Value="Donation.DonationType" For="@(() => Donation.DonationType)" Id="DonationType" EntityType="typeof(Donation)" PropName="DonationType" Active="@Active" />
    </div>
</div>


<div class="form-group row">
    <div class="col-sm-12">
        <MInputText @bind-Value="Donation.DonationInfo" For="@(() => Donation.DonationInfo)" Id="DonationInfo" EntityType="typeof(Donation)" PropName="DonationInfo" Active="@Active" />
    </div>
</div>


