@using OA.Domin.DSA
@page "/Donations/List"
@inherits DonationsListBase
@attribute [Authorize(Policy = "donations-control")]

@if (ListData == null)
{
    <Loading></Loading>
}
else
{
    <div style="position:relative" class="mb-4">

        <div class="page-title filter-title"> @Localizer["Donations"] </div>

        <GridFilter T="Donation" SearchSubmit="SearchEvent" GetIndexData="GetIndexDataEvent" @ref="GridFilterRef"></GridFilter>

        <div class="filter-link">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="fas fa-plus" ClickCallBack='@(() => NavigationManager.NavigateTo("/Donation/Create") )'></IconBtn>
        </div>

        <div class="export-links">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-excel i-lg" ClickCallBack="@(() => Export("Exel", nameof(Donation)))"></IconBtn>
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-pdf i-lg" ClickCallBack="@(() => Export("Pdf", nameof(Donation)))"></IconBtn>
            @if (ExportBusy)
            {<MiniLoading size="25px"></MiniLoading>}
        </div>

    </div>

    if (GetBusy)
    {
        <Loading></Loading>
    }
    else
    {
        <Grid Items="ListData">
            <GridHeader>
                <th> @Localizer["Donator"] </th>
                <th> @Localizer["Benefeciary"]</th>
                <th> @Localizer["Amout"]</th>
                <th> @Localizer["Date"]</th>
                <th> @Localizer["Options"] </th>
            </GridHeader>
            <GridRow>
                <td> <span> @Localizer["Donator"] </span> @((context.PersonDonator != null)? context.PersonDonator?.Name : context.CorporateDonator?.Name) </td>
                <td> <span> @Localizer["Benefeciary"] </span> @context.Beneficiary?.Name</td>
                <td> <span> @Localizer["Amount"] </span> @context.Amount.ToString("#,00")</td>
                <td> <span> @Localizer["Date"] </span> @context.Date.ToShortDateString() </td>
                <td>
                    <GridRowOptions EditEvent="@(() => NavigationManager.NavigateTo($"/Donation/Edit/{context.Id}"))"
                                    DeleteEvent="@(() => DeleteItem(context.Id) )"
                                    DetailsEvent="@(() => NavigationManager.NavigateTo($"Donation/Details/{context.Id}"))">
                    </GridRowOptions>
                </td>
            </GridRow>
        </Grid>

        <Pagination PagingData="PagingMetaData" SelectedPage="SelectedPageEvent" Spread="2"></Pagination>
    }
}

<Confirm ConfirmationChanged="ConfirmationEvent" @ref="Confirmation" ConfirmTxt="Confirm" Title="Confirm Delete"> </Confirm>


