@using OA.Domin.DSA
@page "/Projects/List"
@inherits ProjectsListBase
@attribute [Authorize(Policy = "donations-control")]

@if (ListData == null)
{
    <Loading></Loading>
}
else
{
    <div style="position:relative" class="mb-4">

        <div class="page-title filter-title"> @Localizer["Projects"] </div>

        <GridFilter T="Project" SearchSubmit="SearchEvent" @ref="GridFilterRef"></GridFilter>

        <div class="filter-link">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="fas fa-plus" ClickCallBack='@(() => NavigationManager.NavigateTo("/Project/Create") )'></IconBtn>
        </div>

        <div class="export-links">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-excel i-lg" ClickCallBack="@(() => Export("Exel", nameof(Project)))"></IconBtn>
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-pdf i-lg" ClickCallBack="@(() => Export("Pdf", nameof(Project)))"></IconBtn>
            @if (ExportBusy)
            {<MiniLoading size="25px"></MiniLoading>}
        </div>

    </div>

    if (GetBusy)
    {
        <Loading></Loading>
    }
    else
    {
        <Grid Items="ListData">
            <GridHeader>
                <th> @Localizer["Name"] </th>
                <th> @Localizer["Owner Name"]</th>
                <th> @Localizer["Supervisor Name"]</th>
                <th> @Localizer["Location"]</th>
                <th> @Localizer["Options"] </th>
            </GridHeader>
            <GridRow>
                <td> <span> @Localizer["Name"] </span> @context.Name</td>
                <td> <span> @Localizer["Owner Name"] </span> @context.OwnerName</td>
                <td> <span> @Localizer["Supervisor Name"] </span> @context.SupervisorName</td>
                <td> <span> @Localizer["Location"] </span> @context.Location </td>
                <td>
                    <GridRowOptions EditEvent="@(() => NavigationManager.NavigateTo($"/Project/Edit/{context.Id}"))"
                                    DeleteEvent="@(() => DeleteItem(context.Id) )"
                                    DetailsEvent="@(() => NavigationManager.NavigateTo($"Project/Details/{context.Id}"))">
                    </GridRowOptions>
                </td>
            </GridRow>
        </Grid>

        <Pagination PagingData="PagingMetaData" SelectedPage="SelectedPageEvent" Spread="2"></Pagination>
    }
}

<Confirm ConfirmationChanged="ConfirmationEvent" @ref="Confirmation" ConfirmTxt="Confirm" Title="Confirm Delete"> </Confirm>





