@using OA.Domin.DSA;

<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="ArticleTranslation.Name" For="@(() => ArticleTranslation.Name)" Id="Name" EntityType="typeof(ArticleTranslation)" PropName="Name" Active="@Active" />
    </div>
    <div class="col-sm-6 select-col">
        <MInputSelect @bind-Value="ArticleTranslation.ArticleId" For="@(() => ArticleTranslation.ArticleId)" Items="ArticleItems" Id="ArticleId" EntityType="typeof(ArticleTranslation)" PropName="ArticleId" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-4 select-col">
        <MInputSelect @bind-Value="ArticleTranslation.Language" For="@(() => ArticleTranslation.Language)" Items="OA.Domin.StaticIndexes.Language" Id="Language" EntityType="typeof(ArticleTranslation)" PropName="Language" />
    </div>
    <div class="col-sm-4">
        <MInputText @bind-Value="ArticleTranslation.Slug" For="@(() => ArticleTranslation.Slug)" Id="Slug" EntityType="typeof(ArticleTranslation)" PropName="Slug" Active="@Active" />
    </div>
    <div class="col-sm-4 select-col">
        <CheckBoxBtn Checked="ArticleTranslation.IsActive" Text="Active" OnChange="@((bool value) => ArticleTranslation.IsActive = value)" />
    </div>
</div>


<div class="form-group row mb-5">
    <div class="col-sm-12">
        <CollapseContainer Title="Article Translation Content">
            <RishTextEditor @bind-Value="ArticleTranslation.Content" />
        </CollapseContainer>
    </div>
</div>

