

@using OA.Domin.DSA
@inherits EventCategoryDetailsBase
@page "/EventCategory/Details/{id}"

<div class="page-title mb-5">
    @Localizer["Event Category"] @Localizer["Details"]
</div>


<DetailItem EntityType="typeof(EventCategory)" PropName="Name" Value="@EntityItem.Name" />

<DetailItem EntityType="typeof(EventCategory)" PropName="Order" Value="@EntityItem.Order.ToString()" />

<DetailItem EntityType="typeof(EventCategory)" PropName="Descreption" Value="@EntityItem.Descreption" />

<DetailItem EntityType="typeof(EventCategory)" PropName="IsActive" Value="@EntityItem.IsActive.ToString()" />

<DetailItem EntityType="typeof(EventCategory)" PropName="ImagePath" Value="@EntityItem.ImagePath" />

<div class="row mt-3">
    <div class="col-md-6">
        <img src="@($"{PathPrefix}{EntityItem.ImagePath}")" class="doc-preview-image" />
    </div>
</div>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/EventCategories/List"))" />

<Btn ClassList="btn-sm btn-comp-s" Text="Edit" ClickCallBack="@(() => NavigationManager.NavigateTo($"/EventCategory/Edit/{EntityItem.Id}"))" />



