@using OA.Domin.DSA;

<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="EventTranslation.Name" For="@(() => EventTranslation.Name)" Id="Name" EntityType="typeof(EventTranslation)" PropName="Name" Active="@Active" />
    </div>
    <div class="col-sm-6 select-col">
        <MInputSelect @bind-Value="EventTranslation.Language" For="@(() => EventTranslation.Language)" Items="OA.Domin.StaticIndexes.Language" Id="Language" EntityType="typeof(EventTranslation)" PropName="Language" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="EventTranslation.Slug" For="@(() => EventTranslation.Slug)" Id="Slug" EntityType="typeof(EventTranslation)" PropName="Slug" Active="@Active" />
    </div>
    <div class="col-sm-6 select-col">
        <MInputSelect @bind-Value="EventTranslation.EventId" For="@(() => EventTranslation.EventId)" Items="EventItems" Id="EventId" EntityType="typeof(EventTranslation)" PropName="EventId" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <MInputText @bind-Value="EventTranslation.Description" For="@(() => EventTranslation.Description)" Id="Description" EntityType="typeof(EventTranslation)" PropName="Description" Active="@Active" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <CheckBoxBtn Checked="EventTranslation.IsActive" Text="Active" OnChange="@((bool value) => EventTranslation.IsActive = value)" />
    </div>
</div>
